.problem-card {
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    padding: 2rem;
    box-shadow: 0 0.6rem 0.5rem #e0e0e0;
    border-radius: 0.2rem;
    max-width: 2rem;
    gap: 2.25rem;
    transition: 0.4s ease;
    border-radius: 0.4rem;
    margin: 2rem;
}

.problem-card:hover {
    transform: scale(1.04);
}

.problem-card-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.6rem;
}

.problem-topic {
    color: var(--clr-primary);
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.problem-question-count {
    color: #4c4e61;
    font-size: 1.45rem;
}

.problem-question-count span {
    color: #a3a5ae;
}

.problem-progress {
    text-align: center;
    line-height: 1.15rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #32325d;
    font-size: 1.4rem;
}

.bar {
    width: 100%;
    height: 1rem;
    background-color: #e7e6f1;
    border-radius: 2rem;
}

.current-bar {
    height: inherit;
    background-color: #008181;
    border-radius: inherit;
}
