/* 
Left Side
*/

.home__container {
    margin: 12rem auto 0;
    background-color: #fff;
    max-width: 140rem;
    padding: 0 2rem;
}

.home__small__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .home__container {
        margin-top: 10rem;
    }
    .home__small__container {
        flex-direction: column;
    }
}

.home-problem-card {
    position: relative;
    padding: 3rem 0;
    border-bottom: 1px solid #e6e6e6;
}

.home-problem-title {
    font-size: 1.86rem;
    font-weight: 500;
    color: var(--clr-black);
}

.home-problem-statement {
    margin-top: 1rem;
    letter-spacing: 0.16px;
    font-size: 1.46rem;
    color: #989898;
}

/* 
Right Container
*/

.home-article-card {
    display: flex;
    gap: 2.15rem;
    margin-bottom: 2.15rem;
    padding-right: 3.5rem;
}

.home-link-card {
    display: flex;
    gap: 2rem;
    padding: 0.7rem 1rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.home-link-card:hover {
    background: #ececec;
    transition: 0.3s ease-in;
}

.home-article-card-title,
.home-link-card-title {
    line-height: 1.4;
    font-weight: 500;
    /* font-size: 1.78rem; */
    font-size: min(1.78rem, max(1.8vw, 1.65rem));
    letter-spacing: 0.3px;
    color: var(--clr-black);
}

.home-article-card-left {
    font-size: 3.5rem;
    color: #989898;
}

.home-link-card-left {
    display: flex;
    font-size: 2.5rem;
    color: #454545;
}

.home-article-card-date {
    font-size: 1.3rem;
    color: #6d6d6d;
    margin-top: 0.2rem;
    font-weight: 500;
}
