.problem-container {
    margin: 10rem auto 0;
    padding: 0 3rem;
    background: #fff;
}

.fluid-container {
    display: flex;
    margin: auto;
    gap: 1rem;
}

.problem-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
}

.problem-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

.problem-upvote {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.4rem;
}

.problem-upvote svg {
    cursor: pointer;
}
