.problem-list-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--clr-primary);
    letter-spacing: 1px;
}

.problems-table-container {
    margin-top: 3rem;
    overflow-x: auto;
    white-space: nowrap;
}

.problem-title a {
    color: #000;
    font-weight: 400;
}

.problem-title a:hover {
    color: #4862b9;
}

.problem-checkbox input {
    width: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table .first-col {
    width: 55%;
}

.table thead {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.3rem 0.3rem 0 rgb(0, 0, 0, 8%);
    text-align: left;
}

.table th {
    color: #000000a6;
    font-weight: bold;
    padding: 0.5rem 2rem;
}

.table td {
    padding: 1.2rem 2rem;
}

.cssbdr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody :last-child {
    border-bottom: none;
    font-size: 1.45rem;
}
