.problem-container,
.compiler-container {
    flex: 1;
    min-width: 400px;
}

@media (max-width: 500px) {
    .problem-container,
    .compiler-container {
        min-width: 250px;
    }
}

.problem-title {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.problem-difficulty {
    font-size: 1.3rem;
    line-height: 2rem;
}

.problem-description {
    margin-bottom: 1rem;
}
