.problem-rm-card {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 0 3.35rem;
    border-bottom: 1px solid #e6e6e6;
}

.problem-rm-1 {
    display: flex;
    justify-content: space-between;
}

.problem-rm-title {
    font-size: 1.87rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: var(--clr-black);
}

.problem-rm-description {
    margin-top: 1rem;
    letter-spacing: 0.2px;
    font-size: 1.47rem;
    color: #989898;
}

.problem-rm-description a {
    color: var(--clr-primary);
    letter-spacing: 0.2px;
    font-size: 1.47rem;
}

.problem-rm-description a:hover {
    text-decoration: underline;
}
